@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');

h2 {
    font-size: 1.35rem;
    letter-spacing: 0.20rem;
}

h3 {
    font-size: 0.75rem;
    letter-spacing: 0.18rem;
}

.top-section {
    width: 100%;
    height: 100vh;
    background: url(https://s3.amazonaws.com/www-assets.invisionapp.com/marketplace/assets/mp-hero-06.jpg)center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.svg-logo {
    width:200px;
}

.marketplace-logo {
    fill: #fff;
}

.inner-content-bottom {
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.svg-design {
  fill: #fff;
  width: 75px;
  align-items: flex-end;
  margin-bottom: 30px;
}

.created-by {
  font-size: 0.8rem;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cta {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 4px;
}
.cta:hover{
    color: #f36;
}

.middle-section {
    width: 100%;
    margin-bottom: 50px;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.imgbox {
    max-width: 400px;
}

.shirts {
    max-width: 100%;
    height: auto;
    padding: 10px;

}

.bottom-section {
    margin-bottom: 5%;
}

.newsignup {
    text-align: center;
    padding: 2rem 3rem;
}

.newstyles {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.first {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #666;
    text-transform: uppercase;
    padding-bottom: 16px;
}

@media screen and (min-width: 414px) {
    input[type=email].email {
        margin-bottom: 0;
        display: inline-block;
        width: calc(100% - 9.33333em);
    }
}

.email {
    box-sizing: border-box;
    margin-bottom: .75em;
    max-width: 357px ;
    background-color: #fff;
    letter-spacing: 0.15em;
    border: 1px solid #abb0b7;
    padding: 0.08333em 0.66667em 1px;
    height: 3.16667em;
}

.submit {
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    max-width: 89px;
    height: 3.4rem;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    text-decoration: none;
}

.content-row {
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: #000;
    text-transform: uppercase;
}


.footer-left {
    margin-left: 9%;
}

.brought {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-top: 68px;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 2px;

}
.brought a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #808080;
}

.brought a:hover {
    border-bottom: 1px solid #fff;
}

.svg-design-bottom {
    fill: #fff;
    width: 140px;
    align-items: flex-end;
    margin-bottom: 40px;
}

.footer-center {
    text-align: center;
}

.footer-center h2, h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding-bottom: 11px;
    position: relative;
}

.footer-right {
    margin-right: 9%;
}
.social {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-top: 68px;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

a#priv {
    color: inherit;
   text-decoration: none;
    padding-right: 40px;
}

a#con {
    color: inherit;
    text-decoration: none;
}

.address {
    margin-top: 10%;
    margin-bottom: 10%;
    color: #7f7f7f;
    text-align: center;
    letter-spacing: 1px;
    font-size: .62rem;
    font-weight: 600;
}

.smart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    background-color: #1A1A1A;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 70px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.smart-text {
    color: #8b8b8b;
}

.see {
    color: #8b8b8b;
    text-decoration: none;
    border: 1px solid #8b8b8b;
    padding: 7px 14px 4px 14px;
    margin: 0 10px 0 10px;
}

.see:hover {
    color: #d0d5d8;
    border-color: #d0d5d8;
}

.arrow {
    fill: #8b8b8b;
}

.arrow:hover {
    fill: #d0d5d8;
}

.start {
    color: #F36;
    text-decoration: none;
    border: 1px solid #F36;
    padding: 7px 14px 4px 14px;
    margin: 0 10px 0 10px;
}

.start:hover {
    border-color: #ff668c;
    color: #ff668c;
}